@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(.no-doc-scroll) {
  overflow:hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-poppins);
}

/* Example of Montserrat usage */
.heading {
  font-family: var(--font-montserrat);
}


@keyframes fadeSlideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fade-slide-in {
  animation: fadeSlideIn 1s ease-in-out forwards;
}